body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #fafafa;
  color: #111;
  transition: background-color 1.2s ease;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

body.ocean {
  background-color: #b3dbf1;
}

body.pink {
  background-color: #f8d6e8;   
}

.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.text {
  max-width: 750px;
  text-align: center;
  margin-top: 55px;
}

.intro {
  position: relative;
  min-height: 90vh;
  padding-top: 0px;
}

.intro::before {
  content: "";
  position: absolute;

  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(5%) scale(1.2);

  width: 1400px;
  height: 900px;

  background-image: url("rainbow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;                    /* start hidden */
  transition: opacity 2s ease;   /* smooth fade */

  z-index: 0;
  pointer-events: none;
}

.intro.rainbow-visible::before {
  opacity: 0.9;
}

/*
@keyframes rainbowFade {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(1.1);
    filter: blur(6px);
  }
  100% {
    opacity: 0.9;
    transform: translateX(-50%) scale(1.05);
    filter: blur(0px);
  }
}
  */

.viz {
  width: 100%;
  height: 500px;
  transition: opacity 1s ease;
}

.viz.visible {
  opacity: 1;
}

#jan-viz {
  height: 900px;
  width: 100%;
  transform: scale(1);
}

#tooltip {
  position: absolute;
  z-index: 9999;
  background: white;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  transition: opacity 0.2s ease;
}
